#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
{% for host in groups['headnode'] %}
server-identifier {{ hostvars[host]['inventory_hostname'] }};
{% endfor %}
subnet {{ private_network }} netmask {{ private_network_long_netmask }} {
      not authoritative;
      option subnet-mask {{ private_network_long_netmask }};
}
