[Unit]
Description=rebuild-grub
#After=
#Requires=

[Service]
Type=oneshot
ExecStart=/bin/sh -c "if [[ -z $(grep nouveau /boot/grub2/grub.cfg) ]]; then /usr/sbin/grub2-mkconfig -o /boot/grub2/grub.cfg; systemctl disable rebuild-grub;  fi"

[Install]
WantedBy=multi-user.target
