WWINIT_HWADDR={{ ood_macaddress }}
export WWINIT_HWADDR
WWMASTER={{ headnode_private_ip }}
export WWMASTER
WWTRANSPORT=http
export WWTRANSPORT
WWNODENAME={{ ood_nodename }}
export WWNODENAME
WWCLUSTER=
export WWCLUSTER
WWDOMAIN=
export WWDOMAIN
WWGROUPS=
export WWGROUPS
WWFQDN=
export WWFQDN
