[Unit]
Description=Service to start celery process.
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
WorkingDirectory={{ user_register_app_path }} 
ExecStart=/usr/bin/env celery -A tasks worker --loglevel=info --concurrency=4
[Install]
WantedBy=multi-user.target
