[Unit]
Description=uWSGI server for flask user registration
After=network.target

[Service]
User={{ RegUser_app_user }}
Group=apache
WorkingDirectory={{ user_register_app_path }}
Environment="PATH={{ user_register_app_path }}/venv/bin"
ExecStart={{ user_register_app_path }}/venv/bin/gunicorn -k gevent -c {{ user_register_app }}.ini wsgi:application

[Install]
WantedBy=multi-user.target
