[Unit]
Description=uWSGI server for flask user registration
After=network.target

[Service]
Type=simple
User={{ RegUser_app_user }}
Group=apache
Restart=always
RestartSec=5
WorkingDirectory={{ user_register_app_path }}
Environment="PATH={{ user_register_app_path }}/venv/bin"
ExecStart={{ user_register_app_path }}/venv/bin/uwsgi --ini {{ user_register_app }}.ini

[Install]
WantedBy=multi-user.target
