ProxyPass /socket.io/ http://127.0.0.1:{{ user_register_app_port }}/socket.io/
ProxyPassReverse /socket.io/ http://127.0.0.1:{{ user_register_app_port }}/socket.io/

ProxyPass /{{ user_register_app }} http://127.0.0.1:{{ user_register_app_port }}/
ProxyPassReverse /{{ user_register_app }} http://127.0.0.1:{{ user_register_app_port }}/

ProxyPass /static http://127.0.0.1:{{ user_register_app_port }}/static
ProxyPassReverse /static http://127.0.0.1:{{ user_register_app_port }}/static

<Location /{{ user_register_app }}>
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    Require valid-user
    ShibUseHeaders On
    RewriteCond %{IS_SUBREQ} ^false$
    RewriteCond %{HTTP:REMOTE_USER} '([a-zA-Z0-9_.+-]+)@uab.edu$' [OR]
    RewriteCond %{HTTP:REMOTE_USER} 'urn:mace:incommon:uab.edu!https://uabgrid.uab.edu/shibboleth!(.+)$'
    RewriteRule . - [E=REMOTE_USER:%1]
    RequestHeader set REMOTE_USER %{REMOTE_USER}e
</Location>

<Location "/static/">
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    Require valid-user
</Location>
