#!/bin/bash
# from https://stackoverflow.com/questions/6250698
function urldecode() { : "${*//+/ }"; echo -e "${_//%/\\x}"; }

regex="{{ ood_user_regex }}"

remote_user=$(urldecode $1)
username=$(echo $remote_user | sed -r "s/$regex/\1/")

{{ rabbitmq_agents_loc }}/venv/bin/python {{ rabbitmq_agents_loc }}/user_auth.py $username
