[Unit]
Description=Service to create an account on OOD.
After=network.target

[Service]
Type=simple
StartLimitInterval=0
Restart=always
RestartSec=5
User=centos
WorkingDirectory={{ rabbitmq_agents_loc }}
Environment="PATH={{ rabbitmq_agents_loc }}/venv/bin"
ExecStart={{ rabbitmq_agents_loc }}/venv/bin/python ood_account_create.py

[Install]
WantedBy=multi-user.target
