#
# Ganglia monitoring system php web frontend
#

<VirtualHost {{ headnode_public_ip }}:80>
  ServerName {{ ganglia_public_name }}
  Alias /ganglia /usr/share/ganglia-ohpc
  <Location /ganglia>
    Require all granted
    # Require ip 10.1.2.3
    # Require host example.org
  </Location>
</VirtualHost>
