EXTEND_COMPUTE="PyPAM abrt-addon-ccpp abrt-addon-kerneloops abrt-addon-python abrt-cli \
                abrt-python aide alsa-utils atlas atlas-sse3 audispd-plugins augeas-libs\
                 authd biosdevname blktrace bridge-utils brltty cim-schema cpupowerutils\
                 crash-gcore-command crash-trace-command device-mapper-multipath device-mapper-persistent-data \
                dstat dumpet edac-utils fftw fftw-devel fftw-static flex flex-devel fprintd-pam \
                freeglut GConf2 gdb-gdbserver gdk-pixbuf2 glibc-utils glibc-devel.i686 gnuplot gsl gsl-devel \
                hardlink hunspell i2c-tools iotop json-c lapack latencytop latencytop-tui latrace \
                ledmon linuxptp lm_sensors lksctp-tools ltrace lvm2 memtest86+ ncurses-term numpy \
                oprofile oprofile-jit papi perf powertop python-volume_key rfkill rsyslog-gnutls rsyslog-gssapi rsyslog-relp \
                scipy scl-utils sdparm sg3_utils sox squashfs-tools star strace tboot \
                trace-cmd udftools units uuidd valgrind vim-X11 vim-enhanced \
                virt-what volume_key wodim x86info zsh SDL abrt abrt-libs abrt-tui audit autoconf automake \
                blas dejavu-fonts-common dejavu-sans-fonts device-mapper-multipath-libs flac \
                fontpackages-filesystem fprintd giflib gnuplot-common gsm jline jpackage-utils latencytop-common libcmpiCppImpl0 \
                libao libasyncns libfprint libesmtp libjpeg-turbo-devel libIDL libproxy libproxy-bin libproxy-python \
                librelp libreport libreport-cli libreport-compat libreport-filesystem libreport-plugin-kerneloops \
                libreport-plugin-logger libreport-plugin-mailx libreport-plugin-reportuploader libreport-plugin-rhtsupport \
                libreport-plugin-ureport libreport-python libsamplerate libsndfile \
                libtar libXdmcp libxkbfile libxshmfence lvm2-libs numpy-f2py ORBit2 pulseaudio-libs pycairo \
                python-argparse python-crypto python-dateutil python-matplotlib python-nose python-paramiko \
                python-setuptools pytz qt-sqlite rhino satyr sg3_utils-libs sgml-common suitesparse theora-tools \
                trousers tzdata-java vim-common vim-filesystem volume_key-libs wavpack xkeyboard-config xinetd xmlrpc-c \
                xmlrpc-c-client xorg-x11-server-common xorg-x11-server-Xvfb xorg-x11-xkb-utils xterm libwsman1 \
                net-snmp-utils openwsman-client openwsman-server perl-Compress-Raw-Zlib perl-Compress-Zlib perl-HTML-Parser \
                perl-HTML-Tagset perl-IO-Compress-Base perl-IO-Compress-Zlib perl-libwww-perl perl-URI sblim-sfcb sblim-sfcc{% if enable_active_directory -%} sssd sssd-ad sssd-client sssd-ldap sssd-common sssd-krb5 sssd-common-pac sssd-proxy sssd-krb5-common sssd-ipa python-sssdconfig PackageKit realmd{% endif %}"


