127.0.0.1 localhost
::1 localhost

{% for host in groups['headnode'] %}
{{ headnode_private_ip }} {{ hostvars[host]['inventory_hostname'] }}  {{ hostvars[host]['inventory_hostname'] }}.local
{% endfor %}
