[Unit]
After=rabbitmq-server.service

[Service]
Type=simple
StartLimitInterval=0
Restart=always
RestartSec=1
User={{ rabbitmq_agents_service_user }}
WorkingDirectory={{ item | dirname }}
Environment="PYTHONPATH={{ rabbitmq_agents_loc }}"
Environment="PATH={{ rabbitmq_agents_loc }}/venv/bin:{{ lookup('env','PATH') }}"
ExecStart={{ rabbitmq_agents_loc }}/venv/bin/python {{ item | basename | splitext | first }}.py

[Install]
WantedBy=multi-user.target
