Exchange = "{{ rabbitmq_exchange }}"
User = "{{ rabbitmq_user }}"
Password = "{{ rabbitmq_user_password }}"
VHost = "{{ rabbitmq_vhost }}"
Server = "{{ rabbitmq_host }}"
Port = {{ rabbitmq_port }}

Valid_state = [
  {% for group in ssh_groups %}
      '{{group.state}}',
  {% endfor %}
]

# dict values in state_groups correspond to the states defined above
# eg: {"state":"group"}
state_groups = {
  {% for group in ssh_groups %}
      "{{ group.state }}" : "{{ group.name }}",
  {% endfor %}
}

# Default function timeout
Function_timeout = {{ function_timeout }}

# time delay to let account creation finish
# to avoid concurrency with downstream agents
Delay = {{ delay }}

# dir_verify agent config
User_dirs = {{ user_dirs }}

# git_commit agent config
rc_users_ldap_repo_loc = "{{ rc_users_ldap_repo_loc }}"
db_path = "{{ rabbitmq_agents_db_path }}"

# Config related to email
Mail_server = "{{ mail_server }}"
Admin_email = "{{ admin_email }}"
Sender = "{{ sender }}"
Sender_alias = "{{ sender_alias }}"
Subject = "{{ subject }}"
Info_url = "{{ info_url }}"
Mail_list = "{{ mail_list }}"
Mail_list_bcc = "{{ mail_list_bcc }}"

#Bright CM version
bright_cm_version = {{ cmsh_version }}
