[Unit]
Description=Service to create an account on OHPC.
After=rabbitmq-server.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
WorkingDirectory={{ rabbitmq_agents_loc }}
Environment="PATH={{ rabbitmq_agents_loc }}/venv/bin"
ExecStart={{ rabbitmq_agents_loc }}/venv/bin/python ohpc_account_create.py

[Install]
WantedBy=multi-user.target
