WWINIT_HWADDR=MY_HWADDR
export WWINIT_HWADDR
WWMASTER={{ headnode_private_ip }}
export WWMASTER
WWTRANSPORT=http
export WWTRANSPORT
WWNODENAME=MY_NODENAME
export WWNODENAME
WWCLUSTER=
export WWCLUSTER
WWDOMAIN=
export WWDOMAIN
WWGROUPS=
export WWGROUPS
WWFQDN=
export WWFQDN
