#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
server-identifier master;
subnet 10.2.0.0 netmask 255.255.0.0 {
      not authoritative;
      option subnet-mask 255.255.0.0;
}
